
* {
    background:linear-gradient(150deg, #54FBEE, #DD54FB);
    font-family: 'Space Mono', monospace;

}
body {
   width: auto;
   height: 100vh; 
}
form {
    margin: 50px auto;
    border: 2px;
    border-radius: 5%;
    border-width: 2px;
    border-style: groove; 
    border-color: rgba(0, 255, 255, 0.486);
    height: 600px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(66, 15, 252, 0.438);
}
.campo{
   width:70%;
   height:35px;
   font-size:18px;
   font-style:unset;
}

h2 {
  width: 160px;
  height: 35px;
  font-size:30px;
  text-align: center;
  border-radius: 25%;
  border-color: black;
  border-width: 2px;
  border-style: ridge;
}

label {
    font-size: 18px;
    font-weight: 650;
    width: 60%;
    height: 35px;
    text-align: center;
    background: rgba(0, 247, 95, 0.329);
    margin-bottom: 15px;
}